$blue-div:#345CF8;
$gray-bg: rgba(237, 242, 245, 0.867);
$gray-hover:rgba(133, 133, 133, 1);
$white-font:#fff;
$small-font-size:14px;
$med-font-size: 30px;
$phone-font-heading:25px;
$large-font-size:35px;


* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: $small-font-size;
}

.scroller {
    overflow-x: hidden;
}

main {
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.blue-line {
    width: 100%;
    height: 5px;
    background: $blue-div;
    position: absolute;
    z-index: 100;
}

img {
    width: 50%;
    object-fit: cover;
}

#intro {

    img {
        width: 20%;
        object-fit: cover;
        // margin-bottom: 10px;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2vh 0;
    }

    .nav-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2vh;
    }

    li {

        list-style: none;

    }

    a {
        padding: 10px 25px;
        font-size: $small-font-size;
        color: #000;
        font-weight: 400;
        text-decoration: none;
        position: relative;
        overflow: hidden;
    }

    a::before {
        content: '';
        position: absolute;
        bottom: -26px;
        right: 0;
        width: 0;
        height: 7px;
        background: $blue-div;
        z-index: 1000;
        transform: translateX(-100%);
        transition: 300ms ease-in-out;
        opacity: 0;
    }

    a:hover::before {
        transform: translateX(0);
        opacity: 1;
        width: 100%;
    }


}

#hero {
    display: block;
    position: relative;
    overflow-x: hidden;
    height: 80vh;
    text-align: center;
    color: $white-font;

    .sub-hero {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
    }

    .logo {
        display: block;
        margin: 10vh 0;

        img {
            width: 40%;
        }

        h1 {
            font-size: $med-font-size;
            letter-spacing: 2px;
            margin-top: 4px;
        }
    }

    .ps5-features {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: $phone-font-heading - 8px;
        font-weight: 300;

        .flex-intro {
            display: flex;
            margin-left: 10vh;
            align-items: flex-start;
        }

        .icons {
            width: 10%;
            margin-right: 10px;
            margin-top: -.5vh;
        }
    }

    .games-imgs {
  
        height: 100%;
        background-color: rgba(18, 20, 34, .6);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            mix-blend-mode: overlay;
        }
    }

}

#full-product {
    overflow: hidden;
    width: 100%;
    position: relative;

    .full-product-img {
        object-fit: cover;
        width: 105%;
        height: 105%;
    }

}

@mixin sections-titles {
    font-size: $med-font-size - 5px;
    margin: 5vh 0;
    font-weight: 500;
    display: flex;
    justify-content: center;
}


@mixin cards-access-bg {
    background: rgba(230, 236, 238, 0.4);
    position: absolute;
}

#accessories {
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 100%;

    img {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .play {
        @include sections-titles;
    }

    .card {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        margin: 12vh 0;
        border: none;
        position: relative;
        z-index: 10;
        padding: 5vh 0;
    }

    .content {
        padding: 0 4vh;
    }

    h1 {
        font-size: $phone-font-heading;
    }

    p {
        font-size: $small-font-size;
        font-weight: 300;
        margin-top: 30px;

    }

    .headset-move {
        width: 50%;
    }

    .remote-move {
        width: 90%;
    }

    .acceesories-bg {
        background-color: $gray-bg;
        width: 100%;
        height: 300px;
        position: absolute;
        top: 0;
        left: 0;
    }

}


#games {
    overflow: hidden;
    height: 100%;

    .play {
        @include sections-titles;
        margin: 0;
    }

    img {
        width: 100%;
    }

    h1 {
        text-align: center;
        padding: 35px 0;
    }

    .part {
        display: grid;
        grid-template-columns: 1fr;


        .card {
            padding: 4vh;
            border: none;
     background: $gray-bg;
        }

        .card-title {
            margin-top: 30px;
            font-size: $phone-font-heading;
        }

        .card-text {
            font-weight: 300;
            margin-bottom: 20px;
        }
    }

}

#footer {
    overflow-x: hidden;
    text-align: center;

    .footer-content {
        padding: 5vh 2vh;
        margin: 12vh 0;
    }

    h1 {
        margin-bottom: 30px;
        font-size: $phone-font-heading;
    }
}

// // ------------------------ web VERSION -----------------------------------

@media screen and (min-width:768px) {
    #intro {
        text-align: center;

        img {
            width: 10%;
            margin-left: 10vh;
            margin-top: -10px;
        }

        .nav {
            flex-direction: row;
            // text-align: center;
        }

        .nav-links {
            margin-left: 38vh;
        }

        a {
            padding: 10px 40px;
            font-size: $small-font-size + 4px;
        }
    }


    #hero {
        height: 100vh;

        .sub-hero {
            top: 20vh;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .logo {
            margin-top: -3vh;

            h1 {
                font-size: $large-font-size;
            }
        }

        .ps5-features {
            font-size: $phone-font-heading;

            .flex-intro {
                padding: 20px;
            }

            .icons {
                margin-right: 8px;
                margin-top: -15px;
            }
        }

    }

    @mixin sections-titles {
        font-size: $large-font-size;
    }

    #accessories {

        img {
            width: 100%;
        }

        .play {
            @include sections-titles;
        }

        .card {
            grid-template-columns: 1fr 1fr;
            align-items: center;
            margin: 30vh 0;
            padding: 0 13vh;
        }

        h1 {
            font-size: $med-font-size;
        }

        p {
            font-size: $small-font-size + 3px;

        }

        .content {
            margin-top: -12vh;
        }

        .headset .content {
            margin-top: -16vh;
            order: 1;
        }

        .remote img {
            width: 100%;
        }

        .camera {
            margin-bottom: 50vh;

            .content {
                order: 2;
                margin-top: 1vh;
            }

            img {
                transform: rotateY(180deg);
                width: 90%;
            }
        }

        .duble-controller {

            .content {
                margin-top: -30vh;
            }
        }

    }

    #games {
        .play {
            @include sections-titles;
            margin: 0;
        }

        .part {
            grid-template-columns: 1fr 1fr;
        }

        .card {
            padding: 8vh;
            border: none;
        }
    }

    #footer {

        h1 {
            font-size: $large-font-size;
        }
    
    }
    
}

